{% extends '_base.html' %}

{% block title %}
Quiz
{% endblock title %} 

{% block css_files %}
<style>

  .question {
    padding-bottom: 20px;

  }
  
  .slider-label {
    display: block;
  }

  .slider-steps span {
      position: relative;
      text-align: center;
  }
</style>
{% endblock css_files %} 

{% block contents %}
<div class="container" style="margin-top:30px">
  <h1 class="text-left">Some Initial Questions</h1>

  <form class="container" style="padding: 20px; background: white" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <p>How often have you found yourself being consciously mindful today?</p>
    <div class="question radio-options">
      <div>
        <input type="radio" id="mc1-0" name="mindful-today" value="none" />
        <label for="mc1-0">None: I have not engaged in mindful practices or moments today.</label>
      </div>
    
      <div>
        <input type="radio" id="mc1-1" name="mindful-today" value="once" />
        <label for="mc1-1">Once: There was one distinct instance where I was consciously mindful.</label>
      </div>

      <div>
        <input type="radio" id="mc1-2" name="mindful-today" value="a_few_times" />
        <label for="mc1-2">A Few Times: I have been consciously mindful on several occasions today.</label>
      </div>

      {{form.mindful_today(hidden='true', id='form-mindful-today')}}
    </div>
    
    <div class="question">
      <label class="slider-label" for="question1">Please slide to the number that accurately reflects the level of stress you are experiencing at this moment:</label>
      <div class="row gx-5 pt-1">
        <div class="col-2 text-center pe-0">No stress</div>
        <div class="d-flex flex-column col-8">
          <input
            type="range"
            class="form-range flex-1"
            id="question1"
            name="question1"
            min="1"
            max="10"
            step="1"
            list="steplist"
          />
          <div class="slider-steps flex-1 d-flex justify-content-between">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>10</span>
          </div>
        </div>
        <div class="col-2 text-center ps-0">Extreme stress</div>
      </div>
      {{form.stress(hidden='true', id='form-stress')}}
    </div>

    <p class="pt-4">Please indicate the extent to which you agree with the following statements, based on your current state.</p>
    <div class="question">
      <label class="slider-label fst-italic" for="question2">I have the sense that I am fully aware of what is going on around me and inside me.</label>
      <div class="row gx-5 pt-1">
        <div class="col-2 text-center pe-0">Strongly disagree</div>
        <div class="d-flex flex-column col-8">
          <input
            type="range"
            class="form-range"
            id="question2"
            name="question2"
            min="1"
            max="5"
            step="1"
          />
          <div class="slider-steps flex-1 d-flex justify-content-between">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
          </div>
        </div>
        <div class="col-2 text-center ps-0">Strongly agree</div>
      </div>
      {{form.positive_mindset(hidden='true', id='form-positive-mindset')}}
    </div>

    <div class="question">
      <label class="slider-label fst-italic" for="question3">I view things from a wider perspective.</label>
      <div class="row gx-5 pt-1">
        <div class="col-2 text-center pe-0">Strongly disagree</div>
        <div class="d-flex flex-column col-8">
          <input
            type="range"
            class="form-range"
            id="question3"
            name="question3"
            min="1"
            max="5"
            step="1"
          />
          <div class="slider-steps flex-1 d-flex justify-content-between">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
          </div>
        </div>
        <div class="col-2 text-center ps-0">Strongly agree</div>
      </div>
      {{form.positive_mindset(hidden='true', id='form-decentering')}}
    </div>

    <div style="text-align: right">
      <button type="submit" class="submit-button" id="bot-video-diary-page-btn">
        Next
      </button>
      {{form.submit(hidden='true', id='form-submit')}}
    </div>
  </form>
</div>
{% endblock contents %}

{% block js_files %}
<script>
  var Survey = function() {
    this.formMindfulToday = document.getElementById(`form-mindful-today`),
    this.formStress = document.getElementById(`form-stress`),
    this.formPosMindset = document.getElementById(`form-positive-mindset`),
    this.formDecenering = document.getElementById(`form-decentering`),
    this.formSubmit = document.getElementById(`form-submit`),
    this.radMindfulToday = document.querySelectorAll('input[name="mindful-today"]'),
    this.rdNone = document.getElementById(`mc1-0`),
    this.rdOnce = document.getElementById(`mc1-1`),
    this.rdAFewTimes = document.getElementById(`mc1-2`),
    this.rangeStress = document.getElementById(`question1`),
    this.rangePosMindset = document.getElementById(`question2`),
    this.rangeDecentering = document.getElementById(`question3`),
    this.submitBtn = document.getElementById(`bot-video-diary-page-btn`)
  };

  Survey.prototype = {
    ini: function() {
      this._prepareAPI();
      this._prepareFrontEnd();
      this._addEventListner();
    },
    _prepareFrontEnd: function() {
      for (let i = 0; i < this.radMindfulToday.length; i ++) {
        this.radMindfulToday[i].check = false;
      }

      this.rangeStress.value = this.formStress.value = 1;
      this.rangePosMindset.value = this.formPosMindset.value = 3;
      this.rangeDecentering.value = this.formDecenering.value = 3;

      console.log(`rangeStress: ${this.rangeStress.value}`);
      console.log(`rangePosMindset: ${this.rangePosMindset.value}`);
      console.log(`rangeDecentering: ${this.rangeDecentering.value}`)
    },
    _prepareAPI: function() {
      var that = this;

      this.syncValueChange = function(items) {
        let curr = this;

        items.forEach(item => {
            item.value = curr.value;
        });
      }

      this.onReady = (target, selector, event, callback) => {
        let clickables = [...target.querySelectorAll(selector)];

        let clickObserver = function(nodeID) {
          callback(nodeID);
        };

        clickables.forEach(el => {
            el.addEventListener(event, clickObserver.bind(el, el), true);
        });
      };
    },
    _addEventListner: function() {
      var that = this;

      let prev = null;
      for (var i = 0; i < this.radMindfulToday.length; i++) {
        this.radMindfulToday[i].addEventListener('change', function() {
          if (this !== prev) {
              prev = this;
          }
          that.formMindfulToday = this.value;

          console.log(`formMindfulToday: ${that.formMindfulToday}`);
        });
      }

      this.rangeStress.addEventListener(
        "input", 
        that.syncValueChange.bind(that.rangeStress, [that.formStress])
      );

      this.rangePosMindset.addEventListener(
        "input", 
        that.syncValueChange.bind(that.rangePosMindset, [that.formPosMindset])
      );

      this.rangeDecentering.addEventListener(
        "input", 
        that.syncValueChange.bind(that.rangeDecentering, [that.formDecenering])
      );

      this.submitBtn.addEventListener(
        "click",
        function() {

          console.log(`clicked!!!`);

          that.formSubmit.click();
        }
      );
    }
  };

  window.onload = function() {
    new Survey().ini();
  };
</script>
{% endblock js_files %}
