{% extends '_base.html' %} {% block title %} Chatbot Conversation {% endblock
title %} {% block css_files %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/combined.css') }}"
/>
{% endblock css_files %} {% block contents %} {% include
  'pages/includes/video_navbar.html' %}

<h5 id="page-id" class="m-0 fs-3 d-none">Chatbot Conversation</h5>

<div style="display: flex">
    <div style="display: flex; flex-direction: column; width: 50vw">
    <iframe
      id="video_iframe"
      width="100%"
      height="100%"
      src=""
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
    {% include 'pages/includes/diary.html' %}
  </div>

  {% include 'dialogue/includes/confirmation_dialog.html' %} {% endblock
  contents %} {% block js_files %}
  <script>
    document.getElementById("submit-btn").onclick = function () {
      event.preventDefault();
      var routeNum = "{{ route_num }}";
      if (routeNum == 1){
      location.href = `{{ url_for('reflect_diary') }}`;
    }
    else{
      location.href = `{{ url_for('post_survey') }}`;
    }
    };

    var videoUrls = [
    "https://www.youtube.com/embed/nBxuOrWsiYs?si=ersmikdb-0LNch6H",
    "https://www.youtube.com/embed/EqZJHDtIn2Q?si=al9Hn8_jYdOrVGZt",
    "https://www.youtube.com/embed/UmNx8Bt7oQw?si=KKICBXc8JPmEV8ko",
    "https://www.youtube.com/embed/Z9XRT1-R7Pk?si=LBWrBFBGdLrH9zep",
    "https://www.youtube.com/embed/_IVxN4wc8zk?si=ovAJ0dqOq2zBBSwx",
    "https://www.youtube.com/embed/sqg2BDsx3Gk?si=j5bKsZTRzR_0N4Af"
  ];

  function getRandomVideoUrl() {
    var randomIndex = Math.floor(Math.random() * videoUrls.length);
    return videoUrls[randomIndex];
  }

  window.onload = function() {
    var videoFrame = document.querySelector('iframe');
    console.log(videoFrame)
    if(videoFrame) {
      videoFrame.src = getRandomVideoUrl();
    }
  };
  </script>

  {% endblock js_files %}
</div>
