button:active,
button:focus,
button:hover,
button:visited,
button.active,
button.focus,
button.hover,
button.visited { 
    box-shadow: unset !important;
    outline: 0 !important;
}

.bot__icon {
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-radius: 50%;
    border: 2px solid var(--bot_outline);
    padding: 2px;
}

.user__icon {
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-radius: 50%;
    border: 2px solid var(--user_outline);
    padding: 2px;
}

.dialog__notice {
    background-color: var(--dialog_notice);
}

.dialog__warning {
    background-color: var(--dialog_warning);
}

.dialog__end {
    background-color: var(--dialog_end);
}

.bot__avatar {
    background-color: var(--bot_background); 
}

.img-fluid.rounded-circle.avatar {
    width: 3rem; 
    height: 3rem;
}

.user__avatar {
    background-color: var(--user_background); 
}

a.nav-link {
    color: #606060;
    padding: 0;
}

.bot__name {
    font-size: 18px;
}

.bot__description {
    font-size: 10px;
}

a.nav-link:hover, a.nav-link:visited {
    color: #606060;
}

.bot__description {
    font-size: x-small;
}

.chat__box {
    height: 70vh;
    background-color: var(--dialog_background);
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.chat__box::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

textarea:focus {
    outline: 0px !important;
    box-shadow: none !important;
}

.card.card-text.bot__dialog {
    border: 1px solid var(--bot_outline);
    border-radius: 8px;
    background-color: var(--bot_dialog);
}

.card.card-text.user__dialog {
    border: 1px solid var(--user_outline);
    border-radius: 8px;
    background-color: var(--user_dialog);
}

.response__box {
    flex-grow: 1;
}

.send__time {
    font-size: x-small;
    color: gray;
}

.btn.user__clipboard {
    background-color: var(--user_background);
    color: var(--user_clipboard);
}

.btn.user__clipboard:hover {
    background-color: var(--user_clipboard_back_hover);
    color: var(--user_clipboard);
}

.btn.user__disabled {
    background-color: var(--user_background);
    font-weight: bold;
}

.btn.bot__disabled {
    background-color: var(--bot_background);
    font-weight: bold;
}

.btn.user__id {
    border: 1px solid var(--user_id);
    color: var(--user_id);
}

.btn.emoji {
    border: 1px solid var(--emoji);
    color: var(--emoji);
}

.btn.emoji:hover {
    border: 1px solid var(--emoji_hover);
    color: var(--emoji_hover);
}

.btn.send {
    border: 1px solid var(--emoji);
    background-color: var(--emoji);
    color: var(--user_clipboard);
}

.btn.send:hover {
    border: 1px solid var(--emoji_hover);
    background-color: var(--emoji_hover);
    color: var(--user_clipboard);
}

.badge.dialog__notice {
    max-width: fit-content;
}

.badge.dialog__end {
    max-width: fit-content;
}

.badge.dialog__warning {
    max-width: fit-content;
}

/* .tooltip.tooltip-arrow::before {
    color: var(--tooltip_back);
}

.tooltip.tooltip-inner {
    background-color: var(--tooltip_back);
} */

.tooltip .tooltip-inner {
    background-color: var(--tooltip_back);
}

.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: var(--tooltip_back) !important;
}

.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: var(--tooltip_back) !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--tooltip_back) !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--tooltip_back) !important;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var(--tooltip_back) !important;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: var(--tooltip_back) !important;
}

.modal-dialog .modal-content {
    background-color: var(--confirmation_dialog_back);
}

.modal-content .modal-header {
    border-bottom: 0;
}

.modal-content .modal-body {
    color: var(--confirmation_text);
}

.modal-content .modal-footer {
    border-top: 0;
}

.modal-footer .confirm__cancel {
    color: var(--confirmation_cancel);
}

.modal-footer .confirm__cancel:hover {
    color: var(--confirmation_cancel_hover);
}

.modal-footer .confirm__end {
    color: var(--confirmation_end);
}

.modal-footer .confirm__end:hover {
    color: var(--confirmation_end_hover);
}

.convo__card {
    height: 85vh;
}