:root {
    --body_background: #f0fefd;
    --dialog_background: #f1f4fc;
    --dialog_notice: #999999;
    --dialog_end: #dd6251;
    --dialog_warning: #9685f0;
    --bot_outline: #74e8d7;
    --bot_background: #75e8d7;
    --bot_dialog: #d9f8f3;
    --user_outline: #59a4f7;
    --user_background: #67abf3;
    --user_dialog: #d5e8fc;
    --user_clipboard: #ffffff;
    --user_clipboard_back_hover: #2e93fe;
    --user_id: #017aff;
    --emoji: #7a90e6;
    --emoji_hover: #bb95df;
    --send_btn: #7a90e6;
    --tooltip_back: #017aff;
    --confirmation_dialog_back: #f1f4fc;
    --confirmation_text: #606060;
    --confirmation_cancel: #2e93fe;
    --confirmation_cancel_hover: #017aff;
    --confirmation_end: #2e93fe;
    --confirmation_end_hover: #017aff;
    --toast_back: rgba(238, 100, 76, 0.9);
    --toast_color: #f1f4fc;

    /* emoji picker */
    --emoji_nav: #7a90e6;
    --emoji_special_nav: #6e82cf;
    --emoji_search_input: #f1f4fc;

    /* main page */
    --body-background: #f0fefd;
    --nav-color: #f0fefd;
    --panel-btn-color: #f0fefd;
    --key-table-head-color: #f0fefd;
    --choice-btn-color: #f0fefd;
    --nav-background: #5c696d;
    --key-table-head-background: #5c696d;
    --body-color: #5c696d;
    --breadcrumb-background: #c2f5f9;
    --panel-background: #c2f5f9;
    --card-head-background: #c2f5f9;
    --btn-background: #50a4ff;
    --icon-background: #50a4ff;
    --panel-btn-background: #50a4ff;
    --choice-btn-background: #EB7847;
    --card-body-background: #E7F6FC;
    --icon-color: #f1f4fc;
}