{% extends '_base.html' %}

{% block title %}
    Quiz
{% endblock title %}

{% block css_files %}
    <style>

        .card-title {
            font-weight: bold;
        }

        .carousel-inner .carousel-item {
            transition-duration: 0ms;
        }

        .ins {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-weight: bold;
        }

        /* Add play button styles */
        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            cursor: pointer;
            text-align: center;
        }

        .play-button svg {
            width: 5rem;
            height: 5rem;
            fill: white;
        }

        .play-button:hover svg {
            fill: rgba(255, 255, 255, 0.7);
        }

        .prevent-select {
            -webkit-user-select: none;
            /* Safari */
            -ms-user-select: none;
            /* IE 10 and IE 11 */
            user-select: none;
            /* Standard syntax */
        }

        .blurry {
            -webkit-filter: blur(10px);
        }
    </style>
{% endblock css_files %}

{% block contents %}

    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="d-flex w-100 my-2">
                    <div class="flex-grow-1 d-flex flex-column">
                        <h2 class="card-title text-left mt-4">
                            Exercise # {{ page_num }}</h2>
                        <p class="card-text text-left mb-4">
                            Read the following instructions:
                        </p>
                    </div>
                </div>

                <div class="row align-items-center">
                    <!-- Add container for the image and question -->
                    <div class="col-md-6 position-relative">
                        <div class="position-relative rounded border border-2">
                            <div id="quizNumBox" class="mx-auto d-block"
                                 style="height: 350px;">
                                {% include 'quiz/display_quiz.html' %}
                            </div>
                            <div id="play-start" class="play-button">
                                <i class="bi bi-play-fill display-3"></i>
                            </div>
                            <div id="play-end" class="play-button d-none">
                                <span class="prevent-select fw-bold">Please answer the question below.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="ins">
                            <p>
                                Note:
                            </p>
                        </div>
                        <div class="card-text">
                            <p>
                                the three numbers are independent from each
                                other! If your sum adds up to a number over 9,
                                report only
                                the smallest digit.
                            </p>

                            <p>
                                For example, if you're supposed to add 3 to 9,
                                the answer is "12", so you would report "2".
                            </p>

                            <p>
                                Thus:
                            </p>

                            <p>
                                If you encounter a sequence like "3 2 9", and
                                you're supposed to add 3 to each number, the
                                answer would
                                be "6 5 2"
                            </p>
                        </div>
                    </div>
                    {% include "quiz/notification_timeup.html" %}

                    <!-- Add container for the question and answer -->
                    {% include 'quiz/mcq.html' %}
                    {{ test }}

                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h1 id="submit-result"></h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock contents %}

{% block js_files %}
    <script>
        var carouselQuiz = document.querySelector('#carouselQuiz');
        var carousel = new bootstrap.Carousel(carouselQuiz, {
            interval: 100,
            ride: true,
            wrap: false,
            touch: false,
            pause: 'none'
        });

        var carousel_idx = 0;
        var playStart = document.getElementById("play-start");
        var playEnd = document.getElementById("play-end");
        var exerciseContent = document.getElementById("exercise-content");
        var quizNumBox = document.getElementById('quizNumBox');
        var lowCreditBtn = document.getElementById('quiz-choice-1');
        var highCreditBtn = document.getElementById('quiz-choice-2');
        var carouselSubTitles = document.querySelectorAll('#carouselSubTitle');

        var num1 = document.getElementById("num1");
        var num2 = document.getElementById("num2");
        var num3 = document.getElementById("num3");

        var number1 =
        {{question1["number"]}}
        var diff1 =
        {{question1["difficulty"]}}

        var number2 =
        {{question2["number"]}}
        var diff2 = {{question2["difficulty"]}}

            lowCreditBtn.addEventListener('click', () => {
                fetch('{{ url_for('get_user_choice') }}', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({"difficulty_choice": 0}),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        document.querySelector("label[for=selection-0]").innerHTML = data["choice0"];
                        document.querySelector("label[for=selection-1]").innerHTML = data["choice1"];
                        console.log("Success:", data);
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });

                [].forEach.call(carouselSubTitles, (subtitle) => {
                    subtitle.innerHTML = '+0';
                });
                carousel.nextWhenVisible();
                carousel.cycle();
                num1.innerHTML = number1[0];
                num2.innerHTML = number1[1];
                num3.innerHTML = number1[2];

            })

        highCreditBtn.addEventListener('click', () => {
            [].forEach.call(carouselSubTitles, (subtitle) => {
                subtitle.innerHTML = "+" + diff2;
            });

            carousel.nextWhenVisible();
            carousel.cycle();

            fetch('{{ url_for('get_user_choice') }}', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({"difficulty_choice": 1}),
            })
                .then((response) => response.json())
                .then((data) => {
                    document.querySelector("label[for=selection-0]").innerHTML = data["choice0"];
                    document.querySelector("label[for=selection-1]").innerHTML = data["choice1"];
                    console.log("Success:", data);
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
            num1.innerHTML = number2[0];
            num2.innerHTML = number2[1];
            num3.innerHTML = number2[2];
        });

        playStart.addEventListener("click", () => {
            playStart.classList.add("d-none");
            carouselQuiz.classList.remove("d-none");
            quizNumBox.classList.remove('blurry');
            carousel.to(0);
            carousel.pause();
        });

        carouselQuiz.addEventListener('slid.bs.carousel', function (e) {
            if (carousel_idx === 2) {
                setTimeout(() => {
                    quizNumBox.classList.add('blurry');
                    playEnd.classList.remove("d-none");
                    exerciseContent.classList.remove("d-none");
                }, 200);
            }

            carousel_idx++;
        });


        var submit = document.getElementById("mcqsubmit");
        var myModal = document.getElementById("wrong");
        var selection = document.getElementById("form-selected");

        var submitClicked = false;
        console.log(document.getElementById("mcq-form"));

        setTimeout(function () {
            if (!submitClicked) {
                document.getElementById('selection-2').checked = true;
                document.getElementById("mcq-form").submit();
            }
        }, 20000);

        submit.addEventListener('click', () => {
            submitClicked = true;

            var selectedChoice = document.querySelector('input[name="selection"]:checked');
            if (selectedChoice) {
                if (selectedChoice.value.toString() === "{{ answer }}") {
                    document.getElementById("submit-result").innerHTML = "Answer Correct";
                    document.getElementById("submit-result").style.color = "green";
                } else {
                    document.getElementById("submit-result").innerHTML = "Incorrect";
                    document.getElementById("submit-result").style.color = "red";
                }
            }

            setTimeout(function () {
                document.getElementById("mcq-form").submit();
            }, 500);
        });

    </script>
{% endblock js_files %}
