<div class="container h-100 w-100">
    <div id="carouselQuiz" class="carousel carousel-dark slide h-100 d-none"
         data-bs-ride="true" data-bs-touch="false"
         data-bs-wrap="false">
        <div class="carousel-inner h-100">
            <div class="carousel-item active" data-bs-interval="false">
                <div class="d-block" style="margin:7vh">
                    <div class="prevent-select" style="text-align: center; font-weight: bold; font-size: 15pt;">To {{ question1["receiver"] }}</div>
                    <p class="prevent-select" style="text-align: center;">Choose one of two provided options to proceed.</p>
                </div>
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                    <button id="quiz-choice-1" type="button"
                            class="btn btn-outline-success flex-fill me-3">
                        <div class="d-flex flex-column">
                            <span class="prevent-select">Add 0</span>
                            <span class="prevent-select">1 Credit</span>
                        </div>
                    </button>
                    <button id="quiz-choice-2" type="button"
                            class="btn btn-outline-danger flex-fill">
                        <div class="d-flex flex-column">
                            <span class="prevent-select"
                                  id="diff">Add {{ question2["difficulty"] }}</span>
                            <span class="prevent-select"
                                  id="reward">{{ question2["reward"] }} Credit</span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="carousel-item h-100" data-bs-interval="250">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h5 class="prevent-select">To {{ question1["receiver"] }}</h5>
                        <span id="carouselSubTitle"
                              class="prevent-select"></span>
                        <span class="display-3 prevent-select" id="num1"></span>
                    </div>
                </div>
                <div class="carousel-caption d-block">
                    <p class="prevent-select">First number.</p>
                </div>
            </div>
            <div class="carousel-item h-100" data-bs-interval="250">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h5 class="prevent-select">To {{ question1["receiver"] }}</h5>
                        <span id="carouselSubTitle"
                              class="prevent-select"></span>
                        <span class="display-3 prevent-select" id="num2"></span>
                    </div>
                </div>
                <div class="carousel-caption dd-block">
                    <p class="prevent-select">Second number.</p>
                </div>
            </div>
            <div class="carousel-item h-100" data-bs-interval="250">
                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h5 class="prevent-select">To {{ question1["receiver"] }}</h5>
                        <span id="carouselSubTitle"
                              class="prevent-select"></span>
                        <span class="display-3 prevent-select" id="num3"></span>
                    </div>
                </div>
                <div class="carousel-caption d-block">
                    <p class="prevent-select">Third number.</p>
                </div>
            </div>
        </div>
    </div>
</div>
