{% extends '_base.html' %}

{% block title %}
    Quiz
{% endblock title %}

{% block css_files %}
    <style>
        #countdown {
            font-size: 3rem;
            font-weight: bold;
            position: absolute;
            bottom: 20px;
            left: 20px;
        }

        .img-fluid {
            object-fit: none;
            object-position: center;
            width: 100%;
            max-height: 250px;
        }

        .info {
            font-weight: bold;
            font-size: medium;
        }

        .card-title {
            font-weight: bold;
        }

        .ins {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-weight: bold;
        }
    </style>
{% endblock css_files %}

{% block contents %}
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-left mt-4">Thank you!</h2>
                <p class="card-text text-left mb-4"></p>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='img.png') }}"
                             class="img-fluid rounded mx-auto d-block border border-2"
                             alt="Exercise Image">
                    </div>
                    <div class="col-md-6">
                        <!-- <div class="row align-items-start"> -->
                            <div class="col-lg-8">
                                <p style="margin-bottom:3vh;">Please paste the ID into the Qualtrics.</p>
                                <p class="info">Date: {{date}}</p>
                                <p class="info">ID: {{user_id}}</p>
                            </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}

{% block js_files %}
    <script>
        document.getElementById("quiz-page-btn").onclick = function () {
            location.href = '{{ url_for('quiz_content') }}';
        }

    </script>


{% endblock js_files %}
