<div class="modal fade" id="exampleModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                correct
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end m-2">
                    <button class="btn btn-primary" id="quiz-page-btn"
                            type="button">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("quiz-page-btn").onclick = function () {
        location.href = '{{ url_for('quiz_content') }}';
    }

</script>
