<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Wrong
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end m-2">
          <button class="btn btn-primary" type="button">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
