{% extends '_base.html' %}

{% block title %}
Dialogues
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dialogue.css') }}">
{% endblock css_files %}

{% block contents %}
<div class="container mt-4 mb-4">
    <div class="card mx-auto">
        <div class="card-header bg-transparent">
            <div class="navbar navbar-expand p-0">
                <ul class="navbar-nav me-auto align-items-center">
                    <li class="nav-item">
                        <a href="#!" class="nav-link p-0">
                            <div class="bot__icon position-relative">
                                <div class="img-fluid rounded-circle avatar bot__avatar"></div>
                                <span class="position-absolute bottom-0 end-0 badge border border-light rounded-circle bg-danger bg-gradient p-1">
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link bot__name">ChatBot</a>
                        <a href="#!" class="nav-link bot__description">The following is a conversation with a therapist. The therapist is helpful, creative, empathetic, and very friendly.</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <button type="button" class="btn-close" aria-label="Close"></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body chat__box">
            <div class="d-flex mb-2 row justify-content-center">
                <span class="badge dialog__notice col-10 col-md-8 text-wrap">
                    <i class="bi bi-megaphone-fill"></i>
                    The following is a conversation with a therapist. The therapist is helpful, creative, empathetic, and very friendly.
                </span>
            </div>
            <div class="d-flex mb-2 row justify-content-center">
                <span class="badge dialog__notice col-10 col-md-8 text-wrap">Yesterday</span>
            </div>

            <div class="d-flex align-items-start mb-2">
                <div class="bot__icon">
                    <div class="img-fluid rounded-circle avatar bot__avatar"></div>
                </div>

                <div class="ps-2">
                    <div>
                        <div class="card card-text bot__dialog d-inline-block p-2 px-3 m-1">
                            I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.I am an AI created by OpenAI.
                            <div class="send__time text-end">01:00PM</div>
                        </div>
                    </div>
                    <div>
                        <div class="card card-text bot__dialog d-inline-block p-2 px-3 m-1">
                            How can I help you today?
                            <div class="send__time text-end">02:00PM</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-start text-end justify-content-end mb-2">
                <div class="pe-2">
                    <div>
                        <div class="card card-text user__dialog d-inline-block p-2 px-3 m-1">
                            I am feeling bad today.
                            <div class="send__time text-start">03:00PM</div>
                        </div>
                    </div>
                </div>

                <div class="user__icon">
                    <div class="img-fluid rounded-circle avatar user__avatar"></div>
                </div>
            </div>

            <div class="d-flex align-items-start mb-2">
                <div class="bot__icon">
                    <div class="img-fluid rounded-circle avatar bot__avatar"></div>
                </div>

                <div class="ps-2">
                    <div>
                        <div class="card card-text bot__dialog d-inline-block p-2 px-3 m-1">
                            Would you like to talk about it?
                            <div class="send__time text-end">04:00PM</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex mb-2 row justify-content-center">
                <span class="badge dialog__notice col-10 col-md-8 text-wrap">Today</span>
            </div>

            <div class="d-flex align-items-start text-end justify-content-end mb-2">
                <div class="pe-2">
                    <div>
                        <div class="card card-text user__dialog d-inline-block p-2 px-3 m-1">
                            I had an argument with my family.
                            <div class="send__time text-start">05:00PM</div>
                        </div>
                    </div>
                </div>

                <div class="user__icon">
                    <div class="img-fluid rounded-circle avatar user__avatar"></div>
                </div>
            </div>

            <div class="d-flex align-items-start mb-2">
                <div class="bot__icon">
                    <div class="img-fluid rounded-circle avatar bot__avatar"></div>
                </div>

                <div class="ps-2">
                    <div>
                        <div class="card card-text bot__dialog d-inline-block p-2 px-3 m-1">
                            Would you like to talk about it?
                            <div class="send__time text-end">04:00PM</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-start text-end justify-content-end mb-2">
                <div class="pe-2">
                    <div>
                        <div class="card card-text user__dialog d-inline-block p-2 px-3 m-1">
                            I had an argument with my family.
                            <div class="send__time text-start">05:00PM</div>
                        </div>
                    </div>
                </div>

                <div class="user__icon">
                    <div class="img-fluid rounded-circle avatar user__avatar"></div>
                </div>
            </div>

            <div class="d-flex align-items-start mb-2">
                <div class="bot__icon">
                    <div class="img-fluid rounded-circle avatar bot__avatar"></div>
                </div>

                <div class="ps-2">
                    <div>
                        <div class="card card-text bot__dialog d-inline-block p-2 px-3 m-1">
                            Would you like to talk about it?
                            <div class="send__time text-end">04:00PM</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-start text-end justify-content-end mb-2">
                <div class="pe-2">
                    <div>
                        <div class="card card-text user__dialog d-inline-block p-2 px-3 m-1">
                            I had an argument with my family.
                            <div class="send__time text-start">05:00PM</div>
                        </div>
                    </div>
                </div>

                <div class="user__icon">
                    <div class="img-fluid rounded-circle avatar user__avatar"></div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent bottom-0 m-0">
            <div class="row">
                <div class="input-group">
                    <div class="col-md-3 col-12">
                        <div class="row">
                            <div class="input-group-text bg-transparent border-0 col-md-3 col-5 ps-3 ps-md-1 ps-lg-2">
                                <button type="button" class="btn user__clipboard response__box position-relative">
                                    <i class="bi bi-person-fill icon__user__clipboard"></i>
                                    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger bg-gradient border border-light rounded-circle">
                                        <span class="visually-hidden">New alerts</span>
                                    </span>
                                </button>
                            </div>
                            <div class="input-group-text bg-transparent border-0 col-md-9 col-7 ps-1" >
                                <button type="button" class="btn user__id bg-transparent response__box" disabled>
                                    <div class="justify-content-start">
                                        1
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="align-self-center col-md-7 col-11 ps-0 pe-3">
                        <textarea type="text" class="form-control border-0" style="resize: none;" placeholder="Write a message..." rows="1"></textarea>
                    </div>
                    <div class="col-md-2 col-1 p-0">
                        <div class="row">
                            <div class="input-group-text bg-transparent justify-content-end border-0 ps-0 pe-0 col-md-4 col-12 pe-2 ps-lg-3">
                                <button class="btn bg-transparent emoji">
                                    <i class="bi bi-emoji-smile"></i>
                                </button>
                            </div>
                            <div class="input-group-text bg-transparent justify-content-end border-0 ps-1 col-md-8 ps-lg-3 d-none d-md-block">
                                <button class="btn send">
                                    Send
                                    <i class="bi bi-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}