{% extends '_base.html' %}

{% block title %}
{% if title %}
{{ title }}
{% else %}
Qualtrics Dialogues
{% endif %}
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dialogue.css') }}">
{% endblock css_files %}

{% block contents %}
<div id='message-card' class="card" style="height: 100vh; weight: 100vw;">
    {% include 'dialogue/includes/message_card.html' %}
</div>
<div id='end-card' class="d-none card" style="height: 100vh; weight: 100vw; background-color: var(--confirmation_dialog_back);">
    {% include 'dialogue/includes/conversation_end_notice.html' %}
</div>

{% include 'dialogue/includes/confirmation_dialog.html' %}

{% endblock contents %}

{% block js_files %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
<script src="{{ url_for('static', filename='scripts/vanillaEmojiPicker.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/emojipicker.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/scrollToLastChatBox.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/showToast.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/showTooltip.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/submitConversation.js') }}"></script>
<script>

    var endButton = document.getElementById("end-button");
    var backButton = document.getElementById("back-button");

    var messageCard = document.getElementById('message-card');
    var endCard = document.getElementById('end-card');

    endButton.addEventListener('click', function () {
        messageCard.classList.add("d-none");
        endCard.classList.remove("d-none");

        fetch(`/end`)
            .then(function (response) {
                return response.text();
            }).then(function (text) {
                console.log('GET response text:');
                console.log(text); 
            });
    });

    backButton.addEventListener('click', function () {
        endCard.classList.add("d-none");
        messageCard.classList.remove("d-none");

        location.reload(true);
    });

</script>
{% endblock js_files %}