<div class="modal fade" id="confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmation-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmation-label">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            You are ending the conversation!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn confirm__cancel bg-transparent" data-bs-dismiss="modal">CANCEL</button>
                <button type="button" class="btn confirm__end bg-transparent">END</button>
            </div>
        </div>
    </div>
</div>