<div class="card-header bg-transparent">
    <div class="navbar navbar-expand p-0">
        <ul class="navbar-nav me-auto align-items-center">
            <li class="nav-item" style="max-width: 30vw;">
                <h4>Story</h4>
            </li>
        </ul>
    </div>
</div>
<div class="card-body story__box">
    <form id='all-form' method="post" autocomplete="off">
        <div class="form-group align-self-center">
            <textarea id="textarea-story" class="story__textarea form-control" type="textbox" class="form-control border-0" placeholder="Write your story here...">{{ initial_story }}</textarea>
        </div>
    </form>
</div>