<div>
  <div class="questons" style="max-height: 100vh; overflow-y: scroll">
    <label for="question1"
      >After doing the mindfulness exercise, pause to notice how you feel at
      this moment. Compare how you feel now with how you felt before the
      exercise. What has changed?</label
    >
    <textarea
      id="question1"
      name="question1"
      rows="4"
      placeholder="Your answer..."
      style="margin: 20px 0px"
    ></textarea>

    <label for="question2"
      >After noticing the changes in how you feel now compared to 5 minutes
      ago, think about how these shifts might relate to your daily life. Are
      there specific situations, challenges, or interactions in your
      day-to-day life where you could apply this heightened awareness or
      change in mood? How might the mindfulness practices you've just engaged
      in influence your approach or response to these scenarios?
    </label>
    <textarea
      id="question2"
      name="question2"
      rows="4"
      placeholder="Your answer..."
      style="margin: 20px 0px"
    ></textarea>
  </div>
  <button type="submit" class="submit-button" id="submit-btn">
    Save and Continue
  </button>
</div>
